[Unit]
Description=Sensehat Streaming Service
After=network.target graphical.target multi-user.target

[Service]
Environment=XDG_RUNTIME_DIR=/run/user/1000
Environment=PULSE_SERVER=unix:/run/user/1000/pulse/native
WorkingDirectory=/home/pi/SensehatDemos/website
ExecStart=/home/pi/SensehatDemos/.venv/bin/python /home/pi/SensehatDemos/website/website.py
User=pi
Group=pi
Restart=on-failure
RestartSec=2
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
